// COLORS

$bg-white: #ffffff;
$color-primary: #f11cf5;
$color-secondary: #9cff79;
$text-color-a: #06283d;
$text-color-b: #444;

// FONT FAMILY AND FONT SIZE

$font-stack: "Oxygen", sans-serif;
$font-size-ext-big: 2.5rem;
$font-size-li-big: 2.1rem;
$font-size-bg: 1.8rem;
$font-size-little-sm: 1.2rem;
$font-size--sm: 1rem;
